.navbar-brand {
  transition: 0.3s ease-in-out all;
  font-weight: 500;
  margin-right: 0;
}

.navbar-brand:hover {
  scale: 1.05;
}

.navbar-toggler {
  scale: 0.7;
}

#Toggler:focus {
  box-shadow: 0 0 0 0.1rem;
}

#Welcome {
  white-space: nowrap;
}

@media only screen and (max-width: 576px) {
  /* .navbar-nav {
    align-items: flex-start;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  #basic-nav-dropdown {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  } */
}

@media only screen and (max-width: 1420px) {
  /* .navbar-nav {
    align-items: flex-start;
    margin-right: 3rem !important;
    margin-left: 3rem !important;
  } */
}

@media only screen and (max-width: 1200px) {
  #Welcome {
    white-space: normal;
  }
}
